<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bigbliss">

    <application
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.BigBliss">
        <activity
            android:name=".vendor.activity.StoreCategoryActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".vendor.activity.ConditionActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".vendor.activity.StoreSetupActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".vendor.activity.WalletActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".vendor.activity.OrderDetails"
            android:screenOrientation="portrait" />
        <activity
            android:name=".vendor.activity.OrdersActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".vendor.activity.LanguageActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".vendor.activity.BusinessTypeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".vendor.activity.RegisterActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".vendor.activity.OtpVerifyActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".vendor.activity.LoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".vendor.activity.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".vendor.activity.SplashActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>